/* Defining Variable */
:root{
    --navbar-height: 8vh;
    --search-bar-radius: 20px;
    --search-bar-height: 90%;
}





/* CSS Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}



/* Body  */
body{
    background-color: #0f0f0f;
    font-family: 'Roboto', sans-serif;
}




/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #0f0f0f;
    height: var(--navbar-height);
    /* border: 1px solid white; */
    color: white;
    --start-end-width: 20%
}

/* nav-start */
.nav-start{
    height: 100%;
    display: flex;
    align-items: center;
    width: var(--start-end-width);
}
.nav-start .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 20px;
    border-radius: 100%;
}
.nav-start .menu:hover{
    background-color: #272727;
}
.menuicon{
    filter: invert(1);
    height: 50%;
}
.nav-logo{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.nav-logo:hover{
    cursor: pointer;
}
.yt-icon{
    height: 50%;
    /* margin-left: 30px;
    margin-right: 3px; */
}
.nav-logo .head{
    font-weight: 700;
    font-size: 1.4rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-logo .head::after{
    font-size: 0.7rem;
    font-weight: 100;
    color: rgb(173, 173, 173);
    content: "IN";
    vertical-align: super;
}

/* nav-mid */
.nav-mid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-div-parent{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
}
.sd-1{
    height: var(--search-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border: #2a2a2a 1px solid;
    border-top-left-radius: var(--search-bar-radius);
    border-bottom-left-radius: var(--search-bar-radius);
    width: 7%;
    visibility: hidden;
}
.sd-1 .search-thin{
    height: 45%;
    filter: invert(1);
}
.sd-2{
    box-sizing: border-box;
    font-size: 1rem;
    background: none;
    border: 1px solid #2a2a2a;
    height: var(--search-bar-height);
    width: 80%;
    padding-left: 15px;
    border-top-left-radius: var(--search-bar-radius);
    border-bottom-left-radius: var(--search-bar-radius);

}
.sd-3{
    height: var(--search-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    border: #2a2a2a 1px solid;
    border-top-right-radius: var(--search-bar-radius);
    border-bottom-right-radius: var(--search-bar-radius);
    width: 10%;
}
.sd-3 .search-thin{
    height: 60%;
    filter: invert(1);
}
/* on Focus classes for Search */
.sd-1-onfocus{
    visibility: visible;
    border: 1px solid #163d6d;
    border-right: none;
}
.sd-2-onfocus:focus-visible{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right: none;
    border: 1px solid #163d6d;
    border-left: none;
    outline: none;
}

/* mic icon  */
.mic-div{
    border-radius: 100%;
    height: 2.2em;
    width: 2.2em;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mic-div:hover{
    background-color: #303030;
}
.mic{
    height: 50%;
    filter: invert(1);
}

/* nav-end */
.nav-end{
    height: var(--navbar-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: var(--start-end-width);
}
.vdocam-div{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}
.vdocam{
    height: 50%;
    filter: invert(1);
}
.dpcon{
    height: 55%;
    margin-right: 20%;
}
.nav-end .dpcon:hover{
    cursor: pointer;
}





/* aside */
.aside-main{
    width: 15vw;
    height: 92vh;
    overflow-y: scroll;
}
.aside{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.aside-sections{
    width: 85%;
    height: 40px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.aside-sections:nth-child(1){
    background-color: #272727;
}
.aside-sections:nth-child(1):hover{
    background-color: #3d3d3d !important;
}
.aside-img{
    filter: invert(1);
    height: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform:translateY(-50%)
}
.aside-sections p{
    font-family: 'Roboto', sans-serif;
    transform: translateX(3vw);
    font-size: 0.9rem;
}
.aside-sections:hover{
    background-color: #272727;
}
.aside hr{
    width: 90%;
    border: none;
    border-top: 1px solid #2a2a2a;
}
.aside-lower{
    padding-left: 15px;
    width: 90%;
    font-size: 12px;
    justify-content: center;
    font-weight: 500;
    color: #aaa;
    opacity: 0.7;
}
.aside-copyright{
    padding-left: 15px;
    width: 90%;
    font-size: 12px;
    justify-content: center;
    font-weight: 100;
    color: #aaa;
    opacity: 0.5;
}

/* Scrollbar  */
.aside-main::-webkit-scrollbar{
    visibility: hidden;
    width: 8px;
}
.aside-scrbar::-webkit-scrollbar{
    background: none;
}
.aside-scrbar::-webkit-scrollbar-thumb{
    background-color: #3d3d3d !important;
    border-radius: 10px;
}





/* Section */