/* Defining Variable */
:root{
    --navbar-height: 8%;
    --search-bar-radius: 20px;
    --search-bar-height: 90%;
}





/* CSS Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}



/* Body  */
body{
    background-color: #0f0f0f;
    font-family: 'Roboto', sans-serif;
}
.super-div{
    height: 100vh;
    width: 100vw;
}




/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #0f0f0f;
    height: var(--navbar-height);
    /* border: 1px solid white; */
    color: white;
    --start-end-width: 20%
}

/* nav-start */
.nav-start{
    height: 100%;
    display: flex;
    align-items: center;
    width: var(--start-end-width);
}
.nav-start .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 20px;
    border-radius: 100%;
}
.nav-start .menu:hover{
    background-color: #272727;
}
.menuicon{
    filter: invert(1);
    height: 50%;
}
.nav-logo{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.nav-logo:hover{
    cursor: pointer;
}
.yt-icon{
    height: 50%;
    /* margin-left: 30px;
    margin-right: 3px; */
}
.nav-logo .head{
    font-weight: 700;
    font-size: 1.4rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-logo .head::after{
    font-size: 0.7rem;
    font-weight: 100;
    color: rgb(173, 173, 173);
    content: "IN";
    vertical-align: super;
}

/* nav-mid */
.nav-mid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-div-parent{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
}
.sd-1{
    height: var(--search-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border: #2a2a2a 1px solid;
    border-top-left-radius: var(--search-bar-radius);
    border-bottom-left-radius: var(--search-bar-radius);
    width: 7%;
    visibility: hidden;
}
.sd-1 .search-thin{
    height: 45%;
    filter: invert(1);
}
.sd-2{
    box-sizing: border-box;
    font-size: 1rem;
    background: none;
    border: 1px solid #2a2a2a;
    height: var(--search-bar-height);
    width: 80%;
    padding-left: 15px;
    border-top-left-radius: var(--search-bar-radius);
    border-bottom-left-radius: var(--search-bar-radius);

}
.sd-3{
    height: var(--search-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    border: #2a2a2a 1px solid;
    border-top-right-radius: var(--search-bar-radius);
    border-bottom-right-radius: var(--search-bar-radius);
    width: 10%;
}
.sd-3 .search-thin{
    height: 60%;
    filter: invert(1);
}
/* on Focus classes for Search */
.sd-1-onfocus{
    visibility: visible;
    border: 1px solid #163d6d;
    border-right: none;
}
.sd-2-onfocus:focus-visible{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right: none;
    border: 1px solid #163d6d;
    border-left: none;
    outline: none;
}

/* mic icon  */
.mic-div{
    border-radius: 100%;
    height: 2.2em;
    width: 2.2em;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mic-div:hover{
    background-color: #303030;
}
.mic{
    height: 50%;
    filter: invert(1);
}

/* nav-end */
.nav-end{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: var(--start-end-width);
}
.vdocam-div{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
}
.vdocam{
    height: 50%;
    filter: invert(1);
}
.dpcon{
    height: 55%;
    margin-right: 20%;
}
.nav-end .dpcon:hover{
    cursor: pointer;
}





/* Main Section */
.main-div{
    width: 100%;
    height: 92%;
    display: flex;
}




/* aside */
.aside-main{
    display: inline-block;
    width: 15%;
    height: 100%;
    overflow-y: scroll;
}
.aside{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.aside-section-header{
    width: 85%;
    margin-left: 10px;
}
.aside-sections{
    width: 85%;
    height: 40px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.aside-sections:hover{
    cursor: pointer;
}
.aside-sections:nth-child(1){
    background-color: #272727;
}
.aside-sections:nth-child(1):hover{
    background-color: #3d3d3d !important;
}
.aside-img{
    filter: invert(1);
    height: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform:translateY(-50%)
}
.aside-logo{
    filter: none !important;
    border-radius: 100%;
    height: 60%;
}
.aside-sections p{
    font-family: 'Roboto', sans-serif;
    transform: translateX(45px);
    font-size: 0.8rem;
}
.aside-sections:hover{
    background-color: #272727;
}
.aside hr{
    width: 90%;
    border: none;
    border-top: 1px solid #2a2a2a;
}
.aside-lower{
    padding-left: 15px;
    width: 90%;
    font-size: 12px;
    justify-content: center;
    font-weight: 500;
    color: #aaa;
    opacity: 0.7;
}
.aside-copyright{
    padding-left: 15px;
    width: 90%;
    font-size: 12px;
    justify-content: center;
    font-weight: 100;
    color: #aaa;
    opacity: 0.5;
}

/* Scrollbar  */
.aside-main::-webkit-scrollbar{
    visibility: hidden;
    width: 8px;
}
.aside-scrbar::-webkit-scrollbar{
    background: none;
}
.aside-scrbar::-webkit-scrollbar-thumb{
    background-color: #3d3d3d !important;
    border-radius: 10px;
}





/* Section */
.section{
     width: 85%;
     height: 100%;
     overflow: hidden;
     padding-top: 10px;
}
.section-header{
    height: 8%;
    /* margin: 10px 0; */
    /* border: 1px solid white; */
    width: 100%;
    overflow-x: scroll;
}
.section-header::-webkit-scrollbar{
    display: none;
}
.section-header-content{
    display: flex;
    height: 80%;
    align-items: center;
    gap: 0 12px;
    padding: 0 12px;
}
.section-heads{
    background-color: #272727;
    height: 80%;
    padding: 0 15px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-out;
}
.section-heads:hover{
    background-color: #3d3d3d;
    cursor: pointer;
}
.section-heads:nth-child(1){
    background-color: white;
    color: black;
}

/* Section - Content */
.section-content{
    display: inline-block;
    height: 92%;
    width: 100%;
    /* border: 1px solid white; */
    overflow-y: scroll;
}
/* Scrollbar  */
.section-content::-webkit-scrollbar{
    display: none;
    /* visibility: hidden; */
    width: 8px;
}
.section-content::-webkit-scrollbar{
    background: none;
}
.section-content::-webkit-scrollbar-thumb{
    background-color: #3d3d3d !important;
    border-radius: 10px;
}
.section-content-grid{
    display: grid;
    /* height: 100%; */
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50%;
    gap: 20px;
    padding: 30px;
}
.section-content-grid-child{
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    justify-content: flex-start;
    align-items: center;
}
.thumbs{
    width: 100%;
    border-radius: 15px;
}
.thumb-title{
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    padding:10px 10px 0 0;
}
.thumblogos{
    width: 40px;
    border-radius: 100%;
}
.thumb-title-text{
    padding-left: 10px;
    font-size: 14px;
    font-weight: 500;
}
.thumb-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 3px;
    justify-content: flex-start;
    padding:10px;
}
.thumb-description p{
    font-size: 12px;
    opacity: 0.7;
    margin-left: 50px;
}
.section hr{
    width: 98%;
    margin: auto;
    border: none;
    height: 5px;
    background-color: #272727;
    border-radius: 5px;
}
.section-heading{
    display:flex;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.shorts-icon{
    /* width: 50px; */
    height: 30px;
}
.section-heading p{
    font-size: 18px;
    font-weight: 500;
}

/* Shorts Section */
.shorts-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.short-content{
    padding: 30px 0;
    width: 15%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
}
.shortthumb{
    width: 95%;
    border-radius: 15px;
}
.short-content p.shorts-head{
    font-size: 14px;
    padding: 5px 10px 5px 5px;
}
.short-content p.shorts-tail{
    font-size: 14px;
    padding: 0px 10px 5px 5px;
    opacity: 0.7;
}
.arrow-down-div{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-down-div img{
    filter: invert(1);
    width: 15px;
}
/* Latest Posts Section */
.latest-post-grid{
    grid-template-columns: repeat(3,1fr);
}
.latest-post-main{
    height: fit-content;
    width: 100%;
    border: 1px solid #383838;
    border-radius: 20px;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 20px;
}
.post-thumb-div{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 25%;
}
.post-thumb{
    height: 70%;
    border-radius: 100%;
}
.post-thumb-div p{
    font-size: 12px;
    opacity: 0.7;
}
.latest-post-title{
    padding-right: 20px;
    font-size: 14px;
}
.latest-post-views{
    padding-right: 20px;
    font-size: 14px;
    opacity: 0.7;
}
.btn-vote-now{
    color: #3ea6ff;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #383838;
    padding: 10px 20px;
    border-radius: 20px;
    width: max-content;
}
.btn-vote-now:hover{
    background-color: #263850;
    cursor: pointer;
}
.interactions{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.interactions-left{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 5px;
}
.interactions-right{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 5px;
}
.interaction-icon-div{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.interaction-icon{
    height: 85%;
    filter: invert(1);
}
.dislike-icon{
    transform: rotate(180deg);
}
.interactions-left p{
    font-size: 12px;
    opacity: 0.8;
}
.comment-icon{
    transform: rotateY(180deg);
}
.three-dots{
    height: 60%;
}


/* author */
.author{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-self: end;
    margin: 20px;
}